body{
    margin: 0;
    padding: 0; 
    font-family: "verdana", "sans-serif", "arial";
}

#header{
    background: #eee;
    padding: 20px;
    padding-top: 10px;
    height: 40px;
    border-bottom: 8px solid #ccc;
}

#header h1{
    color: #5A6986;
    text-shadow: -1px 0 1px #000;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#wrapper{
    width: 500px;
    margin: 0 auto;
    border: 5px solid #ccc;
    border-top: 0;
    padding: 10px;
    background: #eee;
    border-radius: 0 0 8px 8px;
}

#snippets ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#snippets li{
    border-bottom: 2px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#snippets pre{
    margin: 0;
    margin-bottom: -15px;
    padding: 0;
}

.snippet-title{
    margin-bottom: 5px;
}

.snippet-text{
    padding-left: 15px;
    background: #fff;
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.snippet-tags{
    text-align: right;
    font-size: 10px;
}

.snippet-tag{
    background: #5A6986;
    padding: 3px;
    color: #fff;
    border: 2px solid #4A5976;
    border-radius: 5px;

}
