<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='style.css') }}" />
        <script type="text/javascript" language="javascript"
                src="{{ url_for('static', filename='jquery.js') }}">
        </script>
        <title> Snippetr - {% block title %}{% endblock %} </title>
    </head>
    <body>
        <div id="header">
            <h1> Snipetr </h1>
        </div>
        <div id="wrapper">
            <div id="navbar">
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
