<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='style.css') }}" />
        <script type="text/javascript" language="javascript"
                src="{{ url_for('static', filename='jquery.js') }}">
        </script>
        <title> Snippetr - {% block title %}{% endblock %} </title>
    </head>
    <body>
        <div id="header">
            <a href="{{ url_for('index') }}"><h1> Snippetr</h1></a>
        </div>
        <div id="wrapper">
            <div id="navbar">
                <a href="{{ url_for('index') }}">Home</a>
                {% if g.user %}
                    <a href="{{ url_for('logout') }}">{{ g.user.username }} | Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %} 
                <a href="{{ url_for('new_snippet') }}">New snippet</a>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
