{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
    <div id="snipets">
        {% if snipets %}
            <ul>
            {% for snipet in snipets %}
                <li>
                    <div class="snipet-title">{{ snipet.title }}</div>
                    <pre>
                        <div class="snipet-text">{{ snipet.text }}</div>
                    </pre>
                    <div class="snipet-tags">
                        <span class="snipet-tag">Python</span>
                        <span class="snipet-tag">PHP</span>
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            Sorry, no snipets saved yet :(
        {% endif %}
    </div>
{% endblock %}
