{% extends "base.html" %}

{% block title %} Viewing tag: {{ tag.name }} {% endblock %}

{% block content %}
    <div id="snippets">
        {% if snippets %}
            <ul>
            {% for snippet in snippets %}
                <li>
                    <div class="snippet-title">{{ snippet.title }}</div>
                    <pre>
                        <div class="snippet-text">{{ snippet.text }}</div>
                    </pre>
                    <div class="snippet-tags">
                        {% for tag in snippet.get_tags() %}
                            <span class="snippet-tag">
                                <a href="{{ url_for('view_tag', tag_name=tag.name) }}">{{ tag.name }}</a>
                            </span>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            Sorry, no snippets saved yet :(
        {% endif %}
    </div>
{% endblock %}
